# Root filesystems (large, not for version control)
rootfs-base/
rootfs-alpha/
rootfs-beta/
rootfs-*/

# Compiled binaries
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# Kernel module build artifacts
*.ko
*.o
*.mod
*.mod.c
.*.cmd
modules.order
Module.symvers
.tmp_versions/

# Downloaded archives
*.tar.gz
*.zip

# Logs
/tmp/
